/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

/* Menu de navegação */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #4caf50;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Seções */
section {
    padding: 20px;
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
}

/* Projetos */
.projeto {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    background-color: white;
}

.projeto h3 {
    color: #4caf50;
}

.projeto a {
    text-decoration: none;
    color: #007BFF;
}

.projeto a:hover {
    text-decoration: underline;
}
